@font-face {
  font-display: swap;
  font-family: 'Snell Roundhand';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SnellRoundhand.woff') format('woff2');
}

@font-face {
  font-display: block;
  font-family: 'lg';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/lg.woff?22t19m') format('woff'),
    url('../fonts/lg.ttf?22t19m') format('truetype'),
    url('../fonts/lg.svg?22t19m#lg') format('svg');
}

.lg-icon {
  font-family: 'lg' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: never;
  text-transform: none;
}